{% extends 'base.html' %} {%block title%} About {%endblock title%} {% block body
%}

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/About_us.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h1>About Us</h1>
        <h3>
          This is a basic web application where you can Add Delete or Edit you
          Todo list. The Todo will be shown below in the table and in actions
          column there are two options to Edit and Delete your Todo. <br />Have
          fun!!!!!!!!
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
